.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 95px;
}

.header__links-list {
    display: flex;
    font-weight: 400;
    list-style: circle;
    gap: 33px;
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    text-decoration: none;
}

.header__link_active {
    text-decoration: none;
}

.header_logo {
    display: grid;
    object-fit: cover;
    width: 137px;
}

.header_logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    width: 250px;
    justify-content: space-between;
    line-height: 1.55;
    text-underline-offset: 0.3em;
    letter-spacing: 1.2px;
}

.header__address {
    width: 240px;
    max-height: 98px;
    justify-self: end;
    padding-bottom: 14px;
}

.address a {
    border-bottom: 1px;
    text-decoration: underline;
}

.cover {
    position: relative;
    padding: 181px 50px 63px;
    margin-top: 1px;
    background: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 60%;
    z-index: 0;
}

.cover__title {
    width: 1000px;
    margin-bottom: 108px;
    display: flex;
    color: #fff;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    flex-direction: column;
    row-gap: 25px;
}

.aligned__text {
    display: block;
    line-height: 1;
    margin-top: 0;
    margin-right: 0;
    z-index: 0;
    position: relative;
    bottom: 8px;
}

.aligned__text-center {
    text-align: center;
    z-index: 0;
    position: relative;
    top: 3px;
    left: 16px;
}

.aligned__text-right {
    text-align: right;
    z-index: 0;
    position: relative;
    top: 12px;
    left: 31px;
}

.cover__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 29px;
    margin-right: 37px;
    position: relative;
    top: 30px;
    letter-spacing: 0px;
    word-spacing: 19px;
    z-index: 0;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    position: relative;
    top: 15px;
    left: 44px;
    color: #fff;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    z-index: 0;
}

.lots {
    padding: 178px 24px 0;
}

.lots__link {
    text-decoration: none;
}

.lots__heading {
    margin: 2px 40px 27px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    width: 100%;
}

.lots__card-list-item {
    flex-grow: 1;
    list-style-type: none;
}

.card {
    position: relative;
    width: 334px;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: no-repeat center / cover;
    z-index: 0;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card__type-movie_left {
    background: url(../images/lot-01.jpg);
}

.card__type-movie_center {
    background: url(../images/lot-02.svg) 60%;
}

.card__type-movie_right {
    background: url(../images/lot-03.svg);
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 48px 40px 0;
    color: #fff;
    line-height: 1.2;
    z-index: 1;
}

.card__text {
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    padding: 0 40px 48px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.card__footer {
    font-size: 20px;
    font-weight: 300;
    line-height: 100%;
    padding-top: 33px;
    padding-left: 40px;
    text-decoration: none;
}

.about {
    display: flex;
    margin-top: 130px;
    padding: 0 24px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px auto 1fr;
}

.about__column-left {
    width: 334px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 239px;
    background-color: black;
    border-radius: 50%;
    margin: 25px auto;
}

.about__logo-image {
    width: 150px;
    height: 150px;
    margin: 45px auto;
}

.about__column-right {
    justify-content: left;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-top: 130px;
    margin-left: 25px;
}

.about__text {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 24px;
    padding-top: 105px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 0.4px;
    line-height: 1.2em;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #fff;
    color: #000;
    padding: 0 50px 8px;
    margin-top: 178px;
    letter-spacing: 1.1px;
}

.footer__address {
    text-align: left;
    margin-top: 3px;
    margin-right: 2px;
    line-height: 1.5;
}

.footer__menu {
    text-align: center;
    list-style: none;
    margin-left: 4px;
    margin-top: 1px;
    padding-top: 3px;
    line-height: 1.3em;
}

.footer__menu-list {
    padding: 0;
}

.footer__menu-list-item {
    text-decoration: underline;
    margin: 11px 0;
}

.footer__menu-link-active {
    text-decoration: none;
}

.footer a {
    color: #000;
}

.footer__menu-link {
    color: #000;
}

.footer__social-list {
    display: flex;
    justify-self: end;

}

.footer__social-list-item {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 48px;
}

.footer__social-link {
    color: #000;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}